* {
  box-sizing: border-box;
}
body {
  margin: 0 auto;
  padding: 0;
  width: 100vh;
  height: 100vh;
  display: flex;
  background-color: dimgray;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  align-content: space-around;
}

h1 {
  border-radius: 10px;
  padding: 15px;
  background-color:wheat;
  color:indianred;
  font-family: 'Press Start 2P', cursive;
  font-size: 48px;
  text-align: center;
  width: 750px;
  height: 50px;
  align-self: center;
  justify-self: flex-start;
}

#container {
  padding: 25px 40px 10px 40px;
  width: 2000px;
  height: 1300px;
  display: flex;
  flex-direction: column;
  align-content: center;
  margin-top: 30px;
  align-items: center;
  justify-content: center;
}

#outside {
  align-self: center;
  width: 750px;
  height: 605px;
}

#inside {
  width: 675px;
  height: 550px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  align-content: flex-end;
}

#content {
  margin: 10px 0px;
  border-radius: 10px;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: stretch;
  height: 115px;
  padding: 10px 10px;
}

#meters {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: flex-end;
  flex-wrap: wrap;
  align-content: flex-end;
}

.meterNames {
  margin: 5px 30px 5px 45px;
  text-align: left;
}

#hungerLabel {
  margin: 5px 75px 5px 5px;
}

#hunger {
  flex-basis: 33%;
  align-self: stretch;
  order: 4;
}

#happiness {
  flex-basis: 33%;
  align-self: stretch;
  order: 5;
}

#sleepiness {
  flex-basis: 33%;
  align-self: stretch;
  order: 6;
}

#animalContainer {
  width: 600px;
  height: 300px;
  padding: 20px 0px 10px 0px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

#animal {
  width: 224px;
  height: 224px;
}

#buttonDiv {
  width: 560px;
}

.buttons {
  margin: 0px 5px 0px 10px;
}

#messages {
  flex-basis: 560px;
}

h5 {
  margin-right: 20px;
  align-self: flex-end;
}
#barn {
  text-align: left;
  align-self: flex-end;
}
